{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
  <title>
    Slack page
  </title>
  <meta charset='utf-8' />

  <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
  <link rel="manifest" href="/fav/site.webmanifest">
  <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href='css/normalize.css' rel='stylesheet' />

  {{!--
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> --}}

  <link href='css/slack-dz.css' rel='stylesheet' />

  {{!--
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Roboto:wght@300;400;500&display=swap"
    rel="stylesheet"> --}}
  <meta name="viewport" content="width-device-width , initial-scale = 1" />

</head>

<body>

  {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
  <div class="page">

    <section class="page_section page_section_light">
      <div class="page_content features_section">
        <div class="features_text">
          <h2 class="features_title">What you need, when you need it</h2>
          <p class="features_discription double_line">Spend less time shuffling tabs with a comprehensive message
            archive and all your work tools at your fingertips.</p>
        </div>
        <div class="features_grid_4">
          {{!-- <div class="feat_position_block1"> --}}
            <div class="feat_card feat_position_block1">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/apps.svg')"></span>
              <strong class="feat_card-title">Apps and Integrations</strong>
              <p class="double_line">Streamline work by connecting Slack with other services like Google Drive, Office
                365
                and over 2,200 more.</p>
              <a href="#" class="icon icon_arrow click feat_link"></a>
            </div>

            <div class="feat_card feat_position_block1">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/workflow.svg')"></span>
              <strong class="feat_card-title">Workflow Builder</strong>
              <p class="double_line">Automate routine actions and communication, so you can get back to the kind of work
                only humans can do.</p>
              <a href="#" class="icon icon_arrow click feat_link"></a>
            </div>
            {{!--
          </div> --}}

          <div class="feat_card">
            <span class="icon feat_icon" style="background-image: url('/svg/feature/seatch.svg')"></span>
            <strong class="feat_card-title">Search</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icon feat_icon" style="background-image: url('/svg/feature/fileshare.svg')"></span>
            <strong class="feat_card-title">File sharing</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

        </div>
      </div>
    </section>

    <section class="page_section">
      <div class="page_content hero_section">
        <div class="hero">
          <div class="hero_content hero_position">
            <img src="/img/deliveroo.jpg" alt="" class="hero_image">
            <div class="hero_block">
              {{!-- <span class="hero_label">Slack Features</span> --}}
              <h1 class="hero_title">“The thing that keeps us connected the most is Slack. It’s a very immediate and
                straightforward method of communication, and really the only channel that people prefer and enjoy
                using.”</h1>
              <img src="/img/deliveroo_logo.png" alt="" class="hero_deliveroo_logo">
              <p class="hero_info double_line">Will Sprunt, CIO, Deliveroo</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page_section_explorer">
      <h2 class="explore_title">Explore more about working in Slack</h2>
      <div class="explore_content">
        <div class="feat_card explorer_size">
          <span class="icon explore_img" style="background-image: url('/img/slackBlockDz/slack-101.png')"></span>
          <p class="explorer_card-title">Slack Tutorials</p>
          <p class="double_line_explorer">Slack 101</p>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>

        <div class="feat_card explorer_size ">
          <span class="icon explore_img" style="background-image: url('/img/slackBlockDz/slack-vs-email.png')"></span>
          <p class="explorer_card-title">Slack vs. Email</p>
          <p class="double_line_explorer">An easier, more organized way to work</p>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>

        <div class="feat_card explorer_size ">
          <span class="icon explore_img" style="background-image: url('/img/slackBlockDz/customers.jpg')"></span>
          <p class="explorer_card-title">Customer Stories</p>
          <p class="double_line_explorer">How Fastly uses Slack Connect to wow enterprise customers</p>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>

      </div>
    </section>


    <p class="tanunafig">Не смотрите это на таком маленьком экране :)</p>



  </div>

  {{!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> --}}
</body>

</html>